footer {
    background-color: #000000;
    color: rgb(159, 149, 167);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family:cursive;
    margin-top:10vh ;
  }
 
  .footer-section {
    flex: 1;
    margin-right: 20px;
    margin-left: 200px;
  }
  .Contato:hover{
    text-decoration: underline;
  }
 
  ul {
    list-style: none;
    padding: 0;
    font-family:cursive;
  }
 
  a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
   
  }
 
  a:hover {
    text-decoration: underline;
  }
  p{
    color: white;
  }
  .barbie-img2{
   
    width:20vw;
    height: auto;
}
li{
    padding-bottom: 10px;
}
