.barrapesquisa{
  height: 20px;
  border: 1px solid #bebebe;
  width: 200px;
  border-radius: 5px;
  font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
  outline: 1px solid rgba(28, 28, 191, 0.57);
}
.pesquisa{
  padding:10px;
  background-color: rgb(159, 149, 167);
  /* width: 250px; */
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1) ;

}
.projeto_content{
transition: background-color 0.5s ease, transform 0.5s ease;


}
.projeto_content:hover{
background-color:rgb(159, 149, 167);
transform: scale(1.010);

}
.Myname{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding: 0px 460px;
  box-sizing: border-box;
  font-size: 8px;
}
.texto_digitado{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
}
