.barrapesquisa{
  height: 20px;
  border: 1px solid #bebebe;
  width: 200px;
  border-radius: 5px;
  font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
  outline: 1px solid  color rgb(159, 149, 167);
}
.pesquisa{
  padding:10px;
  background-color: rgb(255, 255, 255);

}
.projeto_content{
transition: background-color 0.5s ease, transform 0.5s ease;
display: flex;
flex-direction: column;
align-items: center;



}
.projeto_content:hover{
  background-color:rgb(159, 149, 167);
  transform: scale(1.010);
  
}
.Myname{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding: 0px 460px;
  box-sizing: border-box;
  font-size: 8px;
  color: rgb(159, 149, 167);
}
.texto_digitado{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  color:  rgb(159, 149, 167);;
}
.content-main{
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 30px;
  background-color: rgb(255, 255, 255);
  row-gap: 30px;
}
.projetos{
  display: flex;
  gap: 30px;
}


